@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.star-cb-group {
  font-size: 2rem;
  unicode-bidi: bidi-override;
  direction: rtl; }
  .star-cb-group * {
    font-size: 1.5rem; }
  .star-cb-group > input {
    display: none; }
    .star-cb-group > input + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer; }
      .star-cb-group > input + label:before {
        display: inline-block;
        text-indent: -9999px;
        content: "☆";
        color: #888; }
    .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
      content: "★";
      color: #e52;
      text-shadow: 0 0 1px #333; }
  .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em; }
  .star-cb-group > .star-cb-clear + label:before {
    width: .5em; }
  .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none; }
  .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333; }

#log {
  margin: 1em auto;
  width: 5em;
  text-align: center;
  background: transparent; }

#feedback {
  display: none; }

#reddot {
  position: relative;
  right: 1vw;
  visibility: hidden; }

#commentbox {
  width: 52em; }

#userphoto {
  display: hidden; }

.rate {
  float: left;
  height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #ffc700; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08; }

.text-orange {
  color: #FFA500; }

.text-black {
  color: #17252A; }

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
  /* pour Firefox */ }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Roboto", sans-serif;
    cursor: default; }
  body::-webkit-scrollbar {
    width: 0.5rem;
    /* ajuster la largeur de la barre de défilement */ }
  body::-webkit-scrollbar-thumb {
    background-color: #17252A;
    /* couleur de la barre de défilement */ }
  body::-webkit-scrollbar-track {
    background-color: #DEF2F1;
    /* couleur de la piste de la barre de défilement */ }

.text-green {
  color: #2B7A78; }

p {
  font-family: "Roboto Slab", serif; }

#home {
  width: 100%;
  height: auto;
  background: #2b7a78;
  background: linear-gradient(90deg, #2b7a78 20%, #3aafa9 47%, #2b7a78 82%);
  background-size: cover; }
  #home h5 {
    font-weight: 700; }
    #home h5:hover {
      transform: scale(1.06);
      transition: 0.4s ease;
      color: #DEF2F1; }
    #home h5:not(:hover) {
      transform: scale(1);
      transition: 0.4s ease; }
  #home #login {
    text-decoration: none;
    color: #FEFFFF; }
    #home #login:hover {
      text-decoration: underline; }
  #home .btn {
    width: 5rem;
    background-color: #17252A; }
    #home .btn:hover {
      background-color: #3AAFA9; }
  #home #card .btn {
    width: 8rem;
    background-color: #17252A; }
    #home #card .btn:hover {
      background-color: #3AAFA9; }
  #home #card:hover {
    box-shadow: #DEF2F1 0px 10px 36px 0px, #DEF2F1 0px 0px 0px 1px;
    transform: scale(1.06);
    transition: 0.4s ease; }
  #home #card:not(:hover) {
    transform: scale(1);
    transition: 0.4s ease; }
  #home .searchinput {
    border: 1px solid #3AAFA9;
    height: 4vh;
    display: none; }
  #home .searchinputbtn {
    display: none; }
  #home .startingprice {
    padding-top: 1px; }
  #home .closeup {
    margin-top: 10px !important;
    margin-right: 14px;
    display: none;
    cursor: pointer; }
  #home .morebtn {
    transform: rotate(180deg); }

.logo {
  position: relative;
  width: 4vw;
  height: 9vh; }
  .logo:hover {
    transform: scale(1.06);
    transition: 0.4s ease; }
  .logo:not(:hover) {
    transform: scale(1);
    transition: 0.4s ease; }

#partners {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: #DEF2F1;
  background-size: cover; }
  #partners .searchinputcomp {
    border: 1px solid #3AAFA9;
    height: 4vh;
    display: none; }
  #partners .searchinputcompbtn {
    display: none; }
  #partners .closeupcomp {
    display: none;
    cursor: pointer; }

.gradient-custom-2 {
  background: #fccb90;
  background: linear-gradient(to left, #036666, #248277, #469D89, #67B99A);
  background-size: cover; }
  .gradient-custom-2 .btn {
    width: 10rem;
    background-color: #17252A; }
    .gradient-custom-2 .btn:hover {
      background-color: #2B7A78; }
  .gradient-custom-2 #login {
    text-decoration: none;
    color: #FEFFFF; }
    .gradient-custom-2 #login:hover {
      text-decoration: underline; }

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important; } }
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem; } }
.log {
  width: 100%;
  margin: 0;
  padding: 0; }

.logo-hover {
  transform: rotate(200deg);
  width: 5vh;
  height: auto;
  position: absolute;
  top: 0;
  left: -8;
  display: contents;
  pointer-events: none;
  z-index: 5;
  opacity: 1;
  animation-name: shooting-star;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes shooting-star {
  0% {
    transform: translate(-100%, -100%);
    opacity: 1; }
  10% {
    transform: translate(0, 0);
    opacity: 1; }
  90% {
    transform: translate(100%, 150%);
    opacity: 1; }
  100% {
    transform: translate(500%, 200%);
    opacity: 0;
    transform: rotate(20deg); } }
#passreset {
  height: 100vh;
  background: #feffff;
  background: linear-gradient(90deg, #feffff 0%, #def2f1 50%, #feffff 100%); }

#profile {
  background-color: #DEF2F1; }
  #profile .btn {
    background-color: #2B7A78; }
    #profile .btn:hover {
      background-color: #3AAFA9; }

#footer {
  background: #17252A;
  height: 30vh; }

/*# sourceMappingURL=style.css.map */
