{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../public/assets/css/materialize.min.css"  media="screen,projection"/>
    <!--Custom styles-->
    <link type="text/css" rel="stylesheet" href="../../public/assets/css/styles.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block title %}New Campaign{% endblock %}

{% block body %}
    <h1>Create new Campaign</h1>

    {{ include('campaign/_form.html.twig') }}

    <a href="{{ path('app_campaign_index') }}">back to list</a>
{% endblock %}
